body {
  width: 600px;
  height: 600px;
}

.wraper_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

#walls_left, #walls_right {
  height: 100px;
  width: 250px;
  background-color: #000000;
}

.path {
  height: 100px;
  width: 100px;
  background-color: #e4d4d4f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#walls_left_1 {
  height: 10px;
  width: 100px;
  background-color: #000000;
}

#walls_right_1 {
  height: 10px;
  width: 250px;
  background-color: #000000;
}

.path_1 {
  height: 10px;
  width: 250px;
  background-color: #e4d4d4f7;
}

#walls_left_2 {
  height: 50px;
  width: 100px;
  background-color: #000000;
}

#walls_right_2 {
  height: 50px;
  width: 490px;
  background-color: #000000;
}

.path_2 {
  height: 50px;
  width: 10px;
  background-color: #e4d4d4f7;
}

#walls_left_3 {
  height: 20px;
  width: 100px;
  background-color: #000000;
}

#walls_right_3 {
  height: 20px;
  width: 100px;
  background-color: #000000;
}

.path_3 {
  height: 20px;
  width: 400px;
  background-color: #e4d4d4f7;
}

#walls_left_4 {
  height: 20px;
  width: 100px;
  background-color: #000000;
}

#walls_mid_4 {
  height: 20px;
  width: 360px;
  background-color: #000000;
}

#walls_right_4 {
  height: 20px;
  width: 100px;
  background-color: #000000;
}

.path_4_left, .path_4_right {
  height: 20px;
  width: 20px;
  background-color: #e4d4d4f7;
}

#walls_mid_5 {
  height: 20px;
  width: 260px;
  background-color: #000000;
}

.path_5_right {
  height: 20px;
  width: 120px;
  background-color: #e4d4d4f7;
}

#walls_right_5 {
  height: 20px;
  width: 100px;
  background-color: #000000;
}

#walls_left_6 {
  height: 100px;
  width: 100px;
  background-color: #000000;
}

#walls_mid_6 {
  height: 100px;
  width: 260px;
  background-color: #000000;
}

#walls_right_6 {
  height: 100px;
  width: 200px;
  background-color: #000000;
}

.path_6_left, .path_6_right {
  height: 100px;
  width: 20px;
  background-color: #e4d4d4f7;
}

#walls_left_7 {
  height: 20px;
  width: 100px;
  background-color: #000000;
}

#walls_mid_7 {
  height: 20px;
  width: 160px;
  background-color: #000000;
}

#walls_right_7 {
  height: 20px;
  width: 200px;
  background-color: #000000;
}

.path_7_right {
  height: 20px;
  width: 20px;
  background-color: #e4d4d4f7;
}

.path_7_left {
  height: 20px;
  width: 120px;
  background-color: #e4d4d4f7;
}

#walls_left_8 {
  height: 100px;
  width: 200px;
  background-color: #000000;
}

#walls_mid_8 {
  height: 100px;
  width: 160px;
  background-color: #000000;
}

#walls_right_8 {
  height: 100px;
  width: 200px;
  background-color: #000000;
}

.path_8_left, .path_8_right {
  height: 100px;
  width: 20px;
  background-color: #e4d4d4f7;
}

#walls_left_9 {
  height: 20px;
  width: 200px;
  background-color: #000000;
}

#walls_right_9 {
  height: 20px;
  width: 200px;
  background-color: #000000;
}

.path_9 {
  height: 20px;
  width: 200px;
  background-color: #e4d4d4f7;
}

#walls_left_10 {
  height: 60px;
  width: 295px;
  background-color: #000000;
}

#walls_right_10 {
  height: 60px;
  width: 295px;
  background-color: #000000;
}

.path_10 {
  height: 60px;
  width: 10px;
  background-color: #e4d4d4f7;
}

.path_11 {
  height: 80px;
  width: 100px;
  background-color: #e4d4d4f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#walls_left_11 {
  height: 80px;
  width: 250px;
  background-color: #000000;
}

#walls_right_11 {
  height: 80px;
  width: 250px;
  background-color: #000000;
}

#paliesk_mane {
  display: block;
}

#img_teletubies {
  display: block;
  position: absolute;
  top: 134px;
  left: 183px;
  height: 480px;
  width: 234px;
}

#cute_buny {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 600px;
  width: 600px;
  margin-top: 8px;
  margin-left: 8px;
  border: 1px solid white;
}
/*# sourceMappingURL=style.css.map */