@mixin sienuSpalva {
    background-color: #000000;
}
@mixin kelioSpalva {
    background-color: #e4d4d4f7;
}
body {
    width: 600px;
    height: 600px;
}
.wraper_1 {
    display: flex;
    height: 100%;
    width: 100%;
}
#walls_left, #walls_right {
    height: 100px;
    width: 250px;
    @include sienuSpalva;
  }
.path {
    height: 100px;
    width: 100px;
    @include kelioSpalva;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#walls_left_1 {
    height: 10px;
    width: 100px;
    @include sienuSpalva;
}
#walls_right_1 {
    height: 10px;
    width: 250px;
    @include sienuSpalva;
}
.path_1 {
    height: 10px;
    width: 250px;
    @include kelioSpalva;
}
#walls_left_2 {
    height: 50px;
    width: 100px;
    @include sienuSpalva;
}
#walls_right_2 {
    height: 50px;
    width: 490px;
    @include sienuSpalva;
}
.path_2 {
    height: 50px;
    width: 10px;
    @include kelioSpalva;
}
#walls_left_3 {
    height: 20px;
    width: 100px;
    @include sienuSpalva;
}
#walls_right_3 {
    height: 20px;
    width: 100px;
    @include sienuSpalva;
}
.path_3 {
    height: 20px;
    width: 400px;
    @include kelioSpalva;
}
#walls_left_4 {
    height: 20px;
    width: 100px;
    @include sienuSpalva;
}
#walls_mid_4 {
    height: 20px;
    width: 360px;
    @include sienuSpalva;
}
#walls_right_4 {
    height: 20px;
    width: 100px;
    @include sienuSpalva;
}
.path_4_left, .path_4_right {
    height: 20px;
    width: 20px;
    @include kelioSpalva;
}
#walls_mid_5 {
    height: 20px;
    width: 260px;
    @include sienuSpalva;
}
.path_5_right {
    height: 20px;
    width: 120px;
    @include kelioSpalva;
}
#walls_right_5 {
    height: 20px;
    width: 100px;
    @include sienuSpalva;
}
#walls_left_6 {
    height: 100px;
    width: 100px;
    @include sienuSpalva;
}
#walls_mid_6 {
    height: 100px;
    width: 260px;
    @include sienuSpalva;
}
#walls_right_6 {
    height: 100px;
    width: 200px;
    @include sienuSpalva;
}
.path_6_left, .path_6_right {
    height: 100px;
    width: 20px;
    @include kelioSpalva;
}
#walls_left_7 {
    height: 20px;
    width: 100px;
    @include sienuSpalva;
}
#walls_mid_7 {
    height: 20px;
    width: 160px;
    @include sienuSpalva;
}
#walls_right_7 {
    height: 20px;
    width: 200px;
    @include sienuSpalva;
}
.path_7_right {
    height: 20px;
    width: 20px;
    @include kelioSpalva;
}
.path_7_left {
    height: 20px;
    width: 120px;
    @include kelioSpalva;
}
#walls_left_8 {
    height: 100px;
    width: 200px;
    @include sienuSpalva;
}
#walls_mid_8 {
    height: 100px;
    width: 160px;
    @include sienuSpalva;
}
#walls_right_8 {
    height: 100px;
    width: 200px;
    @include sienuSpalva;
}
.path_8_left, .path_8_right {
    height: 100px;
    width: 20px;
    @include kelioSpalva;
}
#walls_left_9 {
    height: 20px;
    width: 200px;
    @include sienuSpalva;
}
#walls_right_9 {
    height: 20px;
    width: 200px;
    @include sienuSpalva;
}
.path_9 {
    height: 20px;
    width: 200px;
    @include kelioSpalva;
}
#walls_left_10 {
    height: 60px;
    width: 295px;
    @include sienuSpalva;
}
#walls_right_10 {
    height: 60px;
    width: 295px;
    @include sienuSpalva;
}
.path_10 {
    height: 60px;
    width: 10px;
    @include kelioSpalva;
}
.path_11 {
    height: 80px;
    width: 100px;
    @include kelioSpalva;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#walls_left_11 {
    height: 80px;
    width: 250px;
    @include sienuSpalva;
}
#walls_right_11 {
    height: 80px;
    width: 250px;
    @include sienuSpalva;
}
#img_teletubies {
    display: block;
    position: absolute;
    top: 134px;
    left: 183px;
    height: 480px;
    width: 234px; 
}
#cute_buny {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 600px;
    width: 600px; 
    margin-top: 8px;
    margin-left: 8px;
}